
flax==0.9.0
jax==0.4.35
jaxlib==0.4.35
jaxtyping==0.2.34
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1716472197302/work
jupyter_core @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_73nomeum4p/croot/jupyter_core_1718818302815/work
matplot==0.1.9
matplotlib==3.9.2
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1713250518406/work
NetKet==3.14.3
numpy==2.0.2
kit-learn==1.5.2
scipy==1.14.1

